/* index.css */
body {
    background-color: #f7f7f7;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 2.5em;
    margin: 20px 0;
  }
  
  h2 {
    font-size: 2em;
    margin: 20px 0;
  }
  
  .options-container {
    display: flex;
    flex-direction: line;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
  }
  
  .options {
    display: inline-block;
    margin: 10px;
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .options:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    width: calc(33.33% - 20px);
    min-width: 250px;
    max-width: 300px;
    max-height: 400px;
    overflow: hidden;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s, transform 0.3s;
  }
  
  li:hover {
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    transform: translateY(-4px);
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  a {
    display: block;
    margin-bottom: 10px;
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  /* index.css */
.ver-completa-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    border: 2px solid transparent;
    text-decoration: none;
  }
  
  .ver-completa-button:hover {
    background-color: #007bff;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-decoration: none;
  }
  
  